{% if post.layout != post %}
  {% assign words = post.content | strip_html | number_of_words %}
  {% if words < 180 %}
    Lektürezeit: weniger als 1 Minute
  {% elsif words < 360 %}
    Lektürezeit: 1 Minute
  {% else %}
    Lektürezeit: {{ words | divided_by:180 }} Minuten
  {% endif %}
{% endif %}

{% if post.layout == post %}
  {% assign words = content | number_of_words %}
  {% if words < 180 %}
    Lektürezeit: weniger als 1 Minute
  {% elsif words < 360 %}
    Lektürezeit: 1 Minute
  {% else %}
    Lektürezeit: {{ words | divided_by:180 }} Minuten
  {% endif %}
{% endif %}
