---
layout: default
---

<h1>
  {{ page.title }}
</h1>

{% if page.image.feature %}
  <img src="{{ site.github.url }}/images/{{ page.image.feature }}">
{% endif %}

{{ content }}

<span class="post-date">
  Verfasst am
  {% assign m = page.date | date: "%-m" %}
  {{ page.date | date: "%-d" }}.
  {% case m %}
    {% when '1' %}Januar
    {% when '2' %}Februar
    {% when '3' %}März
    {% when '4' %}April
    {% when '5' %}Mai
    {% when '6' %}Juni
    {% when '7' %}Juli
    {% when '8' %}August
    {% when '9' %}September
    {% when '10' %}Oktober
    {% when '11' %}November
    {% when '12' %}Dezember
  {% endcase %}
  {{ page.date | date: "%Y" }}
  von
  {% if page.author %}
    {{ page.author }}
  {% else %}
    {{ site.data.settings.author.name }}
  {% endif %}
</span>
{% include social-sharing.html %}
{% include related-posts.html %}

{% if site.disqus %}
  {% include disqus.html %}
{% endif %}
